<h2>Cadastro</h2>

<div class="cadastro" fxLayout="row" fxLayoutAlign="center center">
    <div class="infocadastro">
        <p>Username:</p>
        <p>Email:</p>
        <p>Password:</p>
        <p>Confirm Password:</p>
    </div>

    <mat-form-field>
        <input type="text" id="name" name="name" class="form-control" required minlength="4" [(ngModel)]="currentUser"
            #name="ngModel" placeholder="Username">

        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">

            <div *ngIf="name.errors?.['required']">
                Username é obrigatório
            </div>
            <div *ngIf="name.errors?.['minlength']">
                Username precisa ter pelo menos 4 caracteres
            </div>
        </div>

        <input id="email" class="cadastroemail" matInput placeholder="Email" [(ngModel)]="currentEmail" required #email="ngModel">
        <div *ngIf="email.invalid && (name.dirty || name.touched)" class="alert">

            <div *ngIf="email.errors?.['required']">
                Email é obrigatório
            </div>
        </div>
        <input id="password" type="password" class="cadastrosenha" matInput placeholder="Password"
            [(ngModel)]="currentPassword">
        <input id="password" type="password" class="cadastrosenha" matInput placeholder="Password"
            [(ngModel)]="currentConfirmPassword" (change)="verifyPasswords()" [style]="styliz()">

        <a>{{warningMessage}}</a>
    </mat-form-field>
</div>

<div fxLayout="column" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" (click)="getAllValues()">Confirmar</button>
</div>