<h2>Login</h2>
<div class="login" fxLayout="row" fxLayoutAlign="center center">
    <div class="infologin">
        <p>Username:</p>
        <p>Password:</p>
    </div>

    <mat-form-field>
        <input id="username" class="cadastrouser" matInput placeholder="Username"  [(ngModel)]="currentUsername">
        <input id="password" class="cadastrosenha" matInput placeholder="Password"  [(ngModel)]="currentPassword">
    </mat-form-field>
</div>

<div  fxLayout="column" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" (click)="login()">Logar</button>
</div>