<div id="selecao">
    <div id="botoes" class="botoes" fxLayout="row" fxLayoutAlign="center center" >
        <button mat-raised-button color="primary" class="favoritos" routerLink="/pag-fav">Favoritos</button>
        <button mat-raised-button color="primary" routerLink="/pag-pretendejogar">Pretende Jogar</button>
        <button mat-raised-button disabled color="primary">Desistiu</button>
        <button mat-raised-button color="primary" routerLink="/pag-platinou">Platinou</button>
    </div>

    <div id="row" class="row" fxLayout="row wrap" fxLayoutAlign="space-evenly">
        <div *ngFor="let item of list">
      
          <mat-card class="card">
              <mat-card-header>
              </mat-card-header>
              <img mat-card-image src={{item.caminho}}>
              <mat-card-title>{{item.name}}</mat-card-title>
              <mat-card-actions>
              <button mat-button><mat-icon>favorite_border</mat-icon></button>
              <button mat-button><mat-icon>star_border</mat-icon></button>
              </mat-card-actions>
          </mat-card>
        </div>
      </div>
</div>
