<div>
    <mat-toolbar color="primary">
        <span><a id="home" routerLink="/home">MyGameList</a></span>
    </mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <div fxFlex="0 1 calc(33.3% - 11px)" fxFlex.lt-md="0 1 calc(50% - 11px)" fxFlex.lt-sm="100%">
            
                <input id="search-field" class="round-field" type="text" matInput placeholder="Search">
            
        </div>
        <div id="botoes" fxLayout="row" fxLayoutAlign="space-evenly center">
            <button mat-raised-button routerLink="/login">login</button>
            <button mat-raised-button routerLink="/cadastro">register</button>
            <button mat-raised-button (click)="logout()">logout</button>
        </div>
    </div>
</div>