<div>
    <mat-toolbar color="primary">
        <span><a routerLink="/home">MyGameList</a></span>
    </mat-toolbar>

    <mat-form-field id="search">
        <input id="search-field" class="round-field" type="text" matInput placeholder="Search">
    </mat-form-field>

    <mat-form-field id="auth">
        <button mat-raised-button routerLink="/login">login</button>
        <a> / </a>
        <a>register</a>
        <a routerLink="/catalogo" >catalogo</a>
        <a routerLink="/teste" >teste</a>
        <button mat-raised-button routerLink="/cadastro">register</button>
    </mat-form-field>

</div>
