input{
    margin-bottom: 5%;
}

.infocadastro{
    margin-right: 5%;
    /* position: absolute; */
    top: 30%;
}

/* .cadastro{
    display: flex;
    justify-content: center;
    text-align: center;
    justify-items: end;
}
mat-form-field{
    top:10px;
    display: flex;
} */