input{
    margin-bottom: 5%;
}

.infocadastro{
    margin-right: 5%;
    /* position: absolute; */
    top: 30%;
}

h2{
    text-align: center;
}

button{
   margin-top: 20px;
   margin-bottom: 20px;
}
