
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div id="butprofile">
    <div class="container">
        <img src="\assets\avatar icon.jpg">
    </div>

    <div id="botoes" fxLayout="column" fxLayoutAlign="space-around start" >
        <button mat-raised-button routerLink="/catalogo">Catálogo de Jogos</button>
        <button mat-raised-button routerLink="/pag-fav">Jogos</button>
        <button mat-raised-button routerLink="/ranking">Ranking Geral</button>
    </div>

    <div id="divChart">
        <canvas id="myChart"></canvas>
    </div>
</div>

