<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div id="butprofile">
    <div class="container">
        <img src="\assets\avatar icon.jpg">
        <div>
            <div id="barras" fxLayout="column">
                <mat-progress-bar mode="determinate" value="33" color="warn"> a</mat-progress-bar>
                <mat-progress-bar mode="determinate" value="55" color="primary"></mat-progress-bar>
                <mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
                <mat-progress-bar mode="determinate" value="20" color="warn"></mat-progress-bar>
            </div>
            <div class="legenda" fxLayout="column">
                <h4 style="color:orange">Completou</h4>
                <h4 style="color:blue">Desistiu</h4>
                <h4 style="color:red">Pretende Jogar</h4>
                <h4 style="color:orangered">Platinou</h4>
            </div>
        </div>
    </div>

    <div id="botoes" fxLayout="column" fxLayoutAlign="space-around start">
        <button mat-raised-button routerLink="/catalogo">Catálogo de Jogos</button>
        <button mat-raised-button routerLink="/pag-fav">Jogos</button>
        <button mat-raised-button routerLink="/ranking">Ranking Geral</button>
    </div>
</div>