

<div id="selecao">

    <div id="coluna" class="row" fxLayout="column" fxLayoutAlign="space-evenly center">
        <h1>Ranking</h1>
        <div *ngFor="let item of list">

            <mat-card class="card">
                <mat-card-header>
                </mat-card-header>
                <img mat-card-image src="\assets\Dead_By_Daylight.png">
                <mat-card-title>{{item.nome}}</mat-card-title>
                <mat-card-actions>
                    <button mat-button>
                        <mat-icon>favorite_border</mat-icon>
                    </button>
                    <button mat-button>
                        <mat-icon>star_border</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>

            <!-- <div id="avaliacao"  fxLayout="column" fxLayoutAlign="space-evenly end">
                <mat-form-field>
                    <mat-icon id="stars">stars</mat-icon>
                 
                </mat-form-field>
            </div> -->
            <div id="avaliacao" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon id="stars">stars</mat-icon>
                    <p>9.98</p>
            </div>
        </div>

    </div>
</div>