<div>
  <h1 id="lancamento">Catálogo</h1>
</div>
<div id="row" fxLayout="row wrap" fxLayoutAlign="space-evenly">
  <div *ngFor="let item of list">


    <mat-card class="example-card">
      <mat-card-header>
      </mat-card-header>
      <img mat-card-image src={{item.caminho}} alt="Photo of a Shiba Inu">
      <mat-card-title>{{item.name}}</mat-card-title>
      <mat-card-actions>
        <button mat-button>
          <mat-icon>favorite_border</mat-icon>
        </button>
        <button mat-button>
          <mat-icon>star_border</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>



    

  </div>
</div>
